/*///// ROW MODES OVERRIDES ///////*/
.presets-list li{width:20%!important;}
/*///// ICONS /////////////////////*/

.ddl-tree-category-items a[data-cell-type^='cornerstone-'] {
    margin-top: 5px;
}
.ddl-orbit-slider-preview-img{overflow: hidden;position:relative;width: auto;height: auto;display:inline-block;}
.ddl-orbit-slider-preview-img:before{
    content: '';
    background-image: url('../img/cell-icon.png');
    background-size: contain;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 2px;
    top: 10px;
}
.ddl-tree-category-items a[data-cell-type^='cornerstone-'] > .ddl-icon:before{
    content: '';
    background-image: url('../img/cell-icon.png');
    background-size: contain;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    top: -5px;
}

.cell-content .cell-preview div.ddl-navigation-preview{}
span.full-width{width:550px;}
.ddl-input-third-width{width:200px!important;margin:0px;padding:0px;}